@charset "utf-8";
body{		
width:98%;
height:100%;
background:url('love_bg.png') repeat;
}

a{
text-decoration:none;
color:#990
}

#lovewish{		
width:100%;
height:50px;		
margin-top:1.0em;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
color:#F96
}

#loveimgleft{
float:left;
width:400px;
height:400px;
margin-left:4px;
}

#loveimgright{
float:right;
width:400px;
height:400px;
margin-right:65px;
}

#roseflower{
width:527px;
height:451px;
border: 1px #000, solid;
position:absolute;
top:45%;
left:50%;
margin-top:-225px;
margin-left:-250px;
}

#reg{
width:100%;
height:30px;
position:fixed!important;
position:absolute;
bottom:0px!important;
bottom:auto;
top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight):document.body.scrollTop+(document.body.clientHeight - this.clientHeight));
text-align:center;
font:"Courier New", "Times New Roman", monospace
font-size:16px;
color:#990
}